



body{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-image: url(../images/background.png);
}
h1 {
    color: #ffffff;
    background: #4aaaa5;
    font-size: 2rem;
    margin: 0;
    padding: 15px;
    font-weight: 200;
}

.navbar-item a:hover, .container a:hover, a:hover {
    text-decoration: underline;
}

.navbar {
    width: 100vw;
    margin-bottom: 2rem;
    text-align: center;
}

.navcontainer {
    display: inline-block;
    text-align: center;
    width: 100vw;
}

.navbar-item {
    display: inline-block;
}

.navbar-item a, footer a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
}


.navcontainer.left{
    width: 65%;
    max-width: 650px;
    margin: 0 1% 0 -1%;
    display: inline-block;
    text-align: left;
}

.navcontainer.right {
    width: 26%;
    max-width: 270px;
    margin: 0 0 0 1%;
    display: inline-block;
    text-align: right;
}

.container {
    display: inline-block;
    text-align: center;
    width: 100vw;
    padding-bottom: 44px;
}

.content {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 65%;
    display: inline-block;
    margin: 0 1% 0 0;
    max-width: 650px;
    padding: .5rem;
}

.content h1 {
    background: #ffffff;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    margin: 0 5px 5px 5px;
    display: block;
    text-align: left;
}

.content a {
    color: #4aaaa5;
    text-decoration: none;
    font-weight: 400;
}

.text {
    text-align: justify;
}

.sidebar {
    width: 26%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 1%;
    max-width: 270px;
}

.sidebar h2 {
    color: #4aaaa5;
    border-bottom: 1px solid #dddddd;
    margin: 0 5px 5px 5px;
    font-weight: 200;
}

.headshot {
    width: 15%;
    height: auto;
    float: left;
    
.footer {
    color: #ffffff;
    width: 100vw;
    text-align: center;
    color: #ffffff;
    height: 24px;
    margin-top: -25px;
}






