



body{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-image: url(../images/background.png);
}
h1 {
    color: #ffffff;
    background: #4aaaa5;
    font-size: 2rem;
    margin: 0;
    padding: 15px;
    font-weight: 200;
}

.navbar {
    width: 100vw;
    margin-bottom: 2rem;
    text-align: center;
    background: white;
}

.navcontainer {
    display: inline-block;
    text-align: center;
    width: 100vw;
}

.navbar-item {
    display: inline-block;
}

.navbar-item a, footer a {
    color: #666666;
    text-decoration: none;
    padding: 0 5px;
}


.navcontainer.left{
    width: 65%;
    max-width: 650px;
    margin: 0 1% 0 -1%;
    display: inline-block;
    text-align: left;
}

.navcontainer.right {
    width: 26%;
    max-width: 270px;
    margin: 0 0 0 1%;
    display: inline-block;
    text-align: right;
}

.container {
    display: inline-block;
    text-align: center;
    width: 100vw;
    padding-bottom: 44px;
}

.content {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 65%;
    display: inline-block;
    margin: 0 1% 0 0;
    max-width: 650px;
    padding: .5rem;

}

.content h1 {
    background: #ffffff;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
    margin: 0 5px 5px 5px;
    display: block;
    text-align: left;
}

.content a {
    color: #4aaaa5;
    text-decoration: none;
    font-weight: 400;
}



.text {
    text-align: justify;
}

.sidebar {
    width: 26%;
    height: 150px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: top;
    text-align: middle;
    margin: 0 0 0 1%;
    max-width: 270px;
    
}

.sidebar h2 {
	color: #4aaaa5;
	border-bottom: 2px solid #dddddd;
	padding: 0px 0 25px 0;	
}

.headshot {
    width: 25%;
    height: auto;
    float: left;
 
}

footer {
    color: #ebebeb;
	background-color: #666666;
    font-size: 11px;
    padding: 35px;
	float: bottom;
    text-align: center;
    clear: left;
    border-top: 8px 
    solid #4aaaa5;
    height: 24px;
    bottom: 0px;
    position: fixed;
    width: 100%;
}


